<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>"{{ video.Title }}"</h3>




		</div>
		<div class="col-md-8">
			<video width="768" height=576" id="videoPlayer" src={{video.Src}} autoplay></video>
		</div>
		<div class="col-md-4">

			<ul class="list-group">
				<li class="list-group-item comp_name" ng-repeat="competitor in competitors" ng-class="getLabel($index)">
					<span ng-class="{'fa-square-o': !competitor.hasAnswered, 'fa-check-square-o' :competitor.hasAnswered }" class="fa fa-fw"></span>
					{{competitor.Name}}
				</li>

			</ul>

		</div>
	</div>



</div>


