<div flex>
	<div class="col-sm-12" ng-if="video == null">
		<h3>Hold øje med storskærmen</h3>

	</div>

	<div class="col-md-12" ng-if="video != null && !answered">
		<h3>{{ video.question }}</h3>
		<form ng-submit="sendAnswer()">
		  
    <md-radio-group ng-model="video.answer">

      <md-radio-button value="{{$index}}" class="md-primary" ng-repeat="answer in video.answers">{{answer}}</md-radio-button>
      
    </md-radio-group>



		<section layout="row" layout-sm="column" layout-align="" layout-wrap>
    
      <md-button class="md-raised md-primary" type="submit" ng-disabled="video.answer == null">Gæt</md-button>
     
    </section>
		</form>

	</div>
	<div class="col-md-12" ng-if="answered">
		<h3>Tak for dit svar!</h3>
		Når alle har svaret, kan du se på projektoren, om du har svaret rigtigt
	</div>
</div>
