    <div class="row">
        <div class="col-md-12">
            <h2>Video-quiz controller</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Videoer</h4>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel " ng-class="{'panel-info': currentVideo != $index, 'panel-primary': currentVideo == $index}" ng-repeat="video in videos">
                    <div class="panel-heading" id="{{'heading_'+$index}}">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse_'+$index}}" aria-expanded="false" aria-controls="collapseOne">
                                {{video.Title}}
                            </a>
                        </h3>
                    </div>
                    <div id="{{'collapse_'+$index}}" class="panel-collapse collapse" ng-class="{'in': currentVideo == $index}" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <dl>
                            <dt>Spørgsmål:</dt>
                                <dd>{{video.Question}}</dd>

                                <dt>Svarmuligheder:</dt>
                                <dd>
                                    <span ng-if="$index != video.Correct" ng-repeat="answer in video.Answers">{{answer}}<br /></span>
                                    <u ng-if="$index == video.Correct" ng-repeat="answer in video.Answers">{{answer}}<br /></u>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-3">
            <h4>Deltagere</h4>
            <ul  class="list-group">
                <li class="list-group-item" ng-class="getCompetitorBackground(competitor)" ng-repeat="competitor in competitors | orderBy: 'Point':true track by $index">{{competitor.Name}} {{competitor.Point}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
            <h4>Actions</h4>
                <button class="btn btn-primary"  ng-click="startQuiz()" ng-disabled="counting.started">Start quizzen</button>
                <button class="btn btn-primary"  ng-disabled="continueBtnState()" ng-click="continueVideo()">Se svar</button>
                <button class="btn btn-primary" ng-disabled="video.state != 'ended'" ng-click="showAnswers()">Vis svar</button>
                <button class="btn btn-primary" ng-click="nextVideo()">Næste video</button>
<br />

                <button class="btn btn-primary" ng-click="showResults()">Gå til resultater</button>
                <button class="btn btn-primary" ng-click="revealResult()">Vis resultater</button>

            </div>
            <div class="col-md-12">
                <h4>
                    Log
                </h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="message in log   track by $index ">{{message}}</li>

                </ul>
            </div>
            </div>

        </div>

    </div>
