<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>quiz.gregersboye.dk</h1>
            <h3>Deltagerliste </h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="competitor in competitors">{{competitor.Name}}</li>

            </ul>

        </div>
    </div>
</div>



