<section layout="row" layout-sm="column" layout-align="" layout-wrap ng-if="!joined">
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<form ng-submit="joinQuiz()" layout-sm="column">
			<h3>Tilmeld dig quiz:</h3>
			<p>Indtast dit navn nedenfor, tryk "Tilmeld" og du er klar til quizzen!</p>
			<md-input-container>
				<label>Navn</label>
				<input ng-model="contender.Name" type="text" md-autofocus>
			</md-input-container>
			<p>
			<md-button class="md-raised md-primary" type="submit">Tilmeld</md-button>
			</p>
		</form>
	</md-content>
</section>
	</div>
	<div class="col-sm-12 col-md-4" ng-if="joined">

		<h5>Hej {{ contender.Name }}!</h5>

		<strong>Du er nu tilmeldt!</strong><br />
		Nu skal du bare vente på, at quizzen går i gang!

		<div ng-if="counting.started">

			<h4>Quizzen starter snart:</h4>
			<md-progress-linear md-mode="determinate" value="{{(5-counting.time)*20 }}"></md-progress-linear>
			

		</div>
	</div>
