<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Resultat af quizzen:</h2>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <ul class="list-group">
                <li class="list-group-item comp_name" ng-repeat="competitor in competitors | orderBy: 'Point':true track by $index" ng-class="getLabel($index)" ng-if="competitor.show">

                    {{competitor.Name}} <span class="pull-right">{{competitor.Point}}</span>
                </li>

            </ul>

        </div>



    </div>
</div>